/*left hain*/
.facebook-top{
    background-color: rgb(240, 242, 245);
    height:641px;
    width: 100%;
}
.facebook-top-left-pic{
    margin-top: -2px;
    width: 320px;
}
.facebook-top-Main{
    padding-top:34px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.facebook-top-left{
    display: inline-block;
}
.facebook-top-left-text{
    margin: 0;
    font-size: 28px;
    padding-left: 27.5px;
    width: 489px;
    margin-top: -12px;
    color:  rgb(28, 30, 33);
}
/*right hain*/
.facebook-top-right{
    display: inline-block;
}
.facebook-top-right-main{
 
    background-color: white;
    width: 396px;
    height: 350px;
    margin-top: 98px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(0, 0, 0, 0.1) 0px 8px 16px 0px;
    border-radius: 8px;
    margin-left: 91px;
}
.facebook-top-right-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input1,.input2{
    height: 48px;
    font-size: 17px;
    border: 1px solid rgb(221, 223, 226);
    width: 344px;
    margin-top: 16px;
    border-radius: 5px;
    padding-left: 16px;
}
.input2{
    height: 48px;
    font-size: 17px;
    border: 1px solid rgb(221, 223, 226);
    width: 344px;
    margin-top: 12px;
    border-radius: 6px;
    padding-left: 16px;
}
.input1::placeholder,.input2::placeholder{
    
    color: rgb(146, 144, 144)
}
.button{
    color: white;
    border: none;
    background-color: rgb(8, 102, 255);
    width: 364px;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 16px;
    height: 48px;
    font-size: 20px;
    font-weight: 700;
    transition: opacity 0.15s;
}
.button:hover{
    opacity: 0.9;
}
.text1{
    color: rgb(8, 102, 255);
    font-size: 14px;
    margin: 0;
    margin-top:17px;
    cursor: pointer;
}
.text1:hover{
    text-decoration: underline;
}
.bottom-width{
    border: 1px solid rgb(218, 221, 225);
    width: 360px;
    margin: 0;
    margin-top: 21px;
}
.button2{
    background-color: rgb(66, 183, 42);
    font-weight: 700;
    border: none;
    color: white;
    font-size: 17px;
    margin-top: 26px;
    padding: 14px 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.15s;
}
.button2:hover{
    background-color:  rgb(62, 168, 40);
}
.facebook-top-text1{
    font-size: 14px;
    margin-top: 53px;
    margin-left: 47px;
    color: rgb(28, 30, 33);
}
.facebook-top-text2{
    font-weight: 700;
    cursor: pointer;
}
.facebook-top-text2:hover{
    text-decoration: underline;
}
.color{
    background-color: rgb(240, 242, 245);
    width: 100%;
}



@media (min-width:320px) and (max-width:500px){
    .facebook-top{
        background-color: rgb(240, 242, 245);
        height:400px;
        width: 300px;
    }
    .facebook-top-left-pic{
        margin-top: -2px;
        width: 110px;
    }
    .facebook-top-Main{
        margin-top: -140px;
        padding-top:0px;
        margin-left: 3.6px;
        display: flex;
    }
    .facebook-top-left{
        display: inline-block;
        margin-top: 150px;
        margin-left: -5px;
    }
    .facebook-top-left-text{
        margin: 0;
        font-size: 8px;
        padding-left:10px;
        width: 133px;
        margin-top: -5px;
        color:  rgb(28, 30, 33);
    }
    /*right hain*/
    .facebook-top-right{
        display: inline-block;
    }
    .facebook-top-right-main{
     
        background-color: white;
        width: 170px;
        height: 160px;
        margin-top: 180px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(0, 0, 0, 0.1) 0px 8px 16px 0px;
        border-radius: 5px;
        margin-left:4px;
        
    }
    .facebook-top-right-input{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8px 5px;
    }
    .input1,.input2{
        height: 18px;
        font-size: 8px;
        border: 1px solid rgb(221, 223, 226);
        width: 150px;
        margin:0;
        border-radius: 2px;
        padding-left: 6px;
    }
    .input2{
        border: 1px solid rgb(221, 223, 226);
        margin-top: 6px;
    }
    .input1::placeholder,.input2::placeholder{
        
        color: rgb(146, 144, 144)
    }
    .button{
        color: white;
        border: none;
        background-color: rgb(8, 102, 255);
        width: 160px;
        cursor: pointer;
        border-radius: 3px;
        margin-top: 10px;
        height: 20px;
        font-size: 8px;
        font-weight: 700;
        transition: opacity 0.15s;
    }
    .button:hover{
        opacity: 0.9;
    }
    .text1{
        color: rgb(8, 102, 255);
        font-size: 8px;
        margin: 0;
        margin-top:5px;
        cursor: pointer;
    }
    .text1:hover{
        text-decoration: underline;
    }
    .bottom-width{
        border: 1px solid rgb(218, 221, 225);
        width: 160px;
        margin: 0;
        margin-top: 10px;
    }
    .button2{
        background-color: rgb(66, 183, 42);
        font-weight: 700;
        border: none;
        color: white;
        font-size: 10px;
        margin-top: 10px;
        padding: 7.8px 6px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.15s;
    }
    .button2:hover{
        background-color:  rgb(62, 168, 40);
    }
    .facebook-top-text1{
        font-size: 6px;
        margin-top: 10px;
        margin-left: 24px;
        color: rgb(28, 30, 33);
    }
    .facebook-top-text2{
        font-weight: 700;
        cursor: pointer;
    }
    .facebook-top-text2:hover{
        text-decoration: underline;
    }
    .color{
        background-color: rgb(240, 242, 245);
        width: 100%;
    }   
}